kube_version: v1.24.10
preinstall_selinux_state: disabled
kube_proxy_mode: iptables
calico_datastore: etcd
igz_registry_host: "{{ igz_registry_host }}"
igz_registry_port: 8009
supplementary_addresses_in_ssl_keys: [{{ supplementary_addresses_in_ssl_keys }}]
canal_iface: "{{ canal_iface if canal_iface else 'eth1' }}"
kubeconfig_localhost: yes
kubectl_localhost: yes
{%  if apiserver_vip and 'domain_name' in apiserver_vip and 'ip_address' in apiserver_vip %}
apiserver_loadbalancer_domain_name: "{{ apiserver_vip['domain_name'] }}"
loadbalancer_apiserver:
  address: {{ apiserver_vip['ip_address'] }}
  port: {{ apiserver_vip['port']|default('8383') }}
{% endif %}
system_fqdn: {{ system_fqdn }}
kube_network_plugin: canal
resolvconf_mode: docker_dns
